*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.out
eval
*.npz
**/tmp
/outputs
/submodules/diff-surfel-rasterization/third_party/glm/doc
logs*
condor/
test*.sh
wandb
cuda12.6.sif
slurm
test_args.py
experiments.sh
relight.sh
notebooks/
fps.sh
edit.sh
